<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbEntities" connectionString="metadata=res://*/EntityFramework.DbEntities.csdl|res://*/EntityFramework.DbEntities.ssdl|res://*/EntityFramework.DbEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=DolomiteDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>