<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DolomiteManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <DolomiteWcfService.Properties.Settings>
        <setting name="trackStorageContainer" serializeAs="String">
          <value>trackstorage</value>
        </setting>
        <setting name="userKeysEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="idleTimeout" serializeAs="String">
          <value>02:00:00</value>
        </setting>
        <setting name="absoluteTimeout" serializeAs="String">
          <value>06:00:00</value>
        </setting>
      </DolomiteWcfService.Properties.Settings>
    </userSettings>
</configuration>